= provide :title, "Bookstrapとは"
#introduction_page
  %div
    %h3 Bookstrapとは
  %div
    %h4.text-center Bookstrapはオンラインで閲覧できるコンテンツ（小説など）に特化した感想共有サービスです。
    %h4.text-center 友人や趣味の合う人をフォローしてお気に入りのコンテンツを見つけましょう。
  %div
    %h3 Bookstrapの使い方
  %div
    %h3 1. 感想を投稿する
    %p.top-padding-added  閲覧したことがあるコンテンツについて感想を投稿することができます。
    %p  もちろん他の人が投稿した感想を見ることも可能です。
  %div
    %h3 2. 友人や趣味の合う人をフォロー
    %p.top-padding-added  趣味の合う人や友人をフォローすると、彼らがオススメしたコンテンツから
    %p あなた好みの作品を探すことができるようになります。