$("#follow_form").html("#{escape_javascript(render('users/unfollow'))}")
$("#followers").html('フォロワー #{@user.followers.count}')
$("#current_following").html("フォロー #{current_user.followed_users.count}")