%li
  .new_user_cell
    .new_user_photo
      = gravatar_for user
    .new_user_profile
      = link_to user.nickname, user
    .destroy_option
      - unless current_user == nil
        - if current_user.admin? && !current_user?(user)
          = link_to "アカウント削除", user, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }