= render "shared/home_notice"

#recent_micropost 
  %h4
    %i.glyphicon.glyphicon-book
      最近投稿された感想

  = render "shared/feed"
  = will_paginate @feed_items, :renderer => BootstrapPagination::Rails



