%section
  = button_to products_path, method: :get , class: "btn btn-lg btn-default" do
    %i.glyphicon.glyphicon-pencil
    %p 感想の投稿はこちら
%section
  = button_to edit_user_path(current_user), method: :get , class: "btn btn-lg btn-default" do
    %i.glyphicon.glyphicon-user
    %p ユーザー情報の管理はこちら
%section
  = button_to user_path(current_user), method: :get , class: "btn btn-lg btn-default" do
    %i.glyphicon.glyphicon-edit
    %p 投稿内容の管理はこちら