= form_tag(dislikes_micropost_path(@micropost.id), method: :delete,remote: true) do
  = button_tag( class: "btn btn-white btn-xs dislikes-button", id: @micropost.id ) do
    = content_tag :span, "いいね！を削除"