= form_tag(likes_micropost_path(@micropost.id), remote: true) do
  = button_tag( class: "btn btn-nav btn-xs likes-button", id: @micropost.id ) do
    = content_tag :span, "いいね！", class: "glyphicon glyphicon-thumbs-up"