= form_tag(likes_micropost_path(feed_item.id),remote: true) do
  = button_tag( class: "btn btn-nav btn-xs likes-button", id: feed_item.id ) do
    = content_tag :span, "いいね！", class: "glyphicon glyphicon-thumbs-up"