= form_tag(not_wanna_read_product_path(@product.id), method: :delete,remote: true) do
  = button_tag( class: "btn btn-white btn-xs dislikes-button", id: @product.id ) do
    = content_tag :span, "読みたいを取消す"